# Common
Intermediate/
Binaries/
Saved/
External/UE/Src/
*.zip

# Win
.vs/

*.exe
*.dll
*.lib
*.pdb
*.tps

*.aps

*.vcxproj.*
*.vcxproj

*.sln

# Mac
*.xcodeproj
*.xcworkspace
*.app
*.dylib
*.dSYM
*.DS_Store