<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeIconFile</key>
			<string>Icon.icns</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.shaderhelper.shprj</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>shprj</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Sh Project</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.shaderhelper.app</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>Sh Project</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.shaderhelper.shprj</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>shprj</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>CFBundleIconFile</key>
	<string>Icon</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<false/>
	<key>NSHighResolutionMagnifyAllowed</key>
	<false/>
</dict>
</plist>
